@charset "UTF-8";
/* ----- FONTS START ----- */
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?c9gpfj");
  src: url("../fonts/icomoon.eot?c9gpfj#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?c9gpfj") format("truetype"), url("../fonts/icomoon.woff?c9gpfj") format("woff"), url("../fonts/icomoon.svg?c9gpfj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* ----- FONTS END ----- */
/* ----- CSS RESET START ----- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----- CSS RESET END ----- */
/* ----- COMMON STYLES START ----- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
span,
::before,
::after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  background: none;
  border: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
}

input {
  font: inherit;
  border: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  background-color: #010104;
  color: white;
}

a {
  color: white;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover, a:focus-within {
  color: #f3a916;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
  padding-bottom: 40px;
  position: relative;
}
.section-title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f3a916;
  position: absolute;
  left: 0;
  bottom: 0;
}

.container {
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container-wide {
  max-width: 1920px;
}

.logo {
  margin-left: -10px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__item:nth-child(n+2) {
  margin-left: 20px;
}
.socials .icon-twitter {
  font-size: 17px;
}
.socials .icon-twitch {
  font-size: 18px;
}
.socials .icon-facebook {
  font-size: 20px;
}
.socials .icon-vk {
  font-size: 15px;
}

.offer {
  max-width: 700px;
}
.offer__img {
  margin-bottom: 35px;
}
.offer__title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 25px;
}
.offer__text {
  font-weight: 400;
  line-height: 1.22;
}
.offer__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 220px;
}
.offer__cta-item:nth-child(n+2) {
  margin-left: 35px;
}
.offer__btn {
  width: 246px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  color: white;
  border: 2px solid #f3a916;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn:hover, .btn:focus-within {
  background-color: #f3a916;
  color: black;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs__btn {
  border: 1px solid #f3a916;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 152px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabs__btn:hover, .tabs__btn:focus-within {
  color: #fff;
}
.tabs__btn.tabs__btn--active {
  background-color: #f3a916;
  color: #fff;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-people:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-twitch:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-vk:before {
  content: "";
}

/* ----- COMMON STYLES END ----- */
/* ----- HEADER START ----- */
.header {
  padding-top: 13px;
  padding-bottom: 20px;
  background-color: transparent;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 740px;
  position: relative;
  left: 0;
  z-index: 10;
}
.header__wrap::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f3a916;
  position: absolute;
  left: 0;
  bottom: -20px;
}
.header__socials {
  margin-right: -10px;
}

/* ----- HEADER END ----- */
/* ----- HERO START ----- */
.hero {
  padding-bottom: 200px;
  margin-top: -117px;
}
.hero-slider {
  padding: 0;
}
.hero .hero-slider__pagination.swiper-pagination {
  bottom: 32px;
}
.hero .hero-slider__pagination.swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  width: 15px;
  height: 15px;
  opacity: 1;
}
.hero .hero-slider__pagination.swiper-pagination .swiper-pagination-bullet:nth-child(n+2) {
  margin-left: 18px;
}
.hero .hero-slider__pagination.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f3a916;
}
.hero__offer {
  margin-top: -720px;
  position: relative;
  z-index: 20;
}

/* ----- HERO END ----- */
/* ----- SCHEDULE START ----- */
.schedule {
  padding-top: 140px;
  padding-bottom: 147px;
}
.schedule__tabs {
  margin-bottom: 70px;
}
.schedule-slider.swiper {
  padding: 10px 10px 150px 10px;
  margin-left: -10px;
}
.schedule-slider__card {
  background-color: #28292e;
  border-radius: 10px;
  max-width: 350px;
  padding: 30px 35px;
  position: relative;
}
.schedule-slider__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.schedule-slider__card:hover, .schedule-slider__card:focus-within {
  -webkit-box-shadow: 0 3px 10px #f3a916;
          box-shadow: 0 3px 10px #f3a916;
}
.schedule-slider__card:hover.schedule-slider__card::after, .schedule-slider__card:focus-within.schedule-slider__card::after {
  background-color: rgba(8, 8, 8, 0.76);
}
.schedule-slider__card:hover .schedule-slider__card-btn, .schedule-slider__card:focus-within .schedule-slider__card-btn {
  opacity: 1;
  z-index: 15;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.schedule-slider__card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 38px;
}
.schedule-slider__card-header::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f3a916;
  position: absolute;
  left: 0;
  bottom: 0;
}
.schedule-slider__card-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}
.schedule-slider__card-date {
  max-width: 57px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.schedule-slider__card-time {
  font-weight: 700;
  font-size: 20px;
}
.schedule-slider__card-badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.schedule-slider__card-badge:nth-child(n+2) {
  margin-left: 20px;
}
.schedule-slider__card-names {
  margin-bottom: 15px;
}
.schedule-slider__card-name {
  font-size: 20px;
  line-height: 1.75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.schedule-slider__card-name:nth-last-child(n+2) {
  margin-bottom: 15px;
}
.schedule-slider__card-multiplier {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #f3a916;
  width: 58px;
  height: 30px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.schedule-slider__card-btn {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  opacity: 0;
  position: absolute;
  padding: 11px 20px;
  background-color: #f3a916;
  top: calc(50% - 18px);
  left: calc(50% - 75px);
  -webkit-transition: 0s;
  transition: 0s;
}
.schedule-slider__card-btn:hover, .schedule-slider__card-btn:focus-within {
  color: #fff;
}
.schedule-slider__card-btn .icon-play {
  margin-right: 10px;
}
.schedule-slider__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.schedule-slider__footer-text {
  color: #757c84;
  font-weight: 400;
  font-size: 12px;
}
.schedule-slider .battles .schedule-slider__card {
  padding: 47px 35px;
}
.schedule-slider .battles .schedule-slider__card-badges {
  margin-bottom: 29px;
}
.schedule-slider .battles .schedule-slider__card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.schedule-slider .battles .schedule-slider__card-names {
  margin-bottom: 0;
}
.schedule-slider .battles .schedule-slider__card-name {
  line-height: 1.75;
}
.schedule-slider .battles .schedule-slider__card-name:nth-last-child(n+2) {
  margin-bottom: 0;
}
.schedule-slider .battles .schedule-slider__card-number {
  padding: 5px 10px;
  border: 1px solid #f3a916;
  line-height: 1.42;
  text-transform: uppercase;
}
.schedule-slider .battles .schedule-slider__card .schedule-slider__footer-text {
  line-height: 1.66;
}
.schedule-slider__btn {
  border: 2px solid #f3a916;
  border-radius: 50%;
  font-size: 15px;
  position: relative;
}
.schedule-slider__btn:hover {
  background-color: #f3a916;
}
.schedule-slider__btn .icon-arrow {
  color: #fff;
}
.schedule-slider__btn.schedule-slider__btn--next {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  padding: 41px;
  top: initial;
  right: calc(50% - 180px);
  bottom: 10px;
}
.schedule-slider__btn.schedule-slider__btn--next::after {
  content: "";
}
.schedule-slider__btn.schedule-slider__btn--prev {
  padding: 41px;
  top: initial;
  left: calc(50% - 180px);
  bottom: 10px;
}
.schedule-slider__btn.schedule-slider__btn--prev::after {
  content: "";
}
.schedule-slider__pagination.swiper-pagination.swiper-pagination-bullets {
  bottom: 42px;
  z-index: 0;
}
.schedule-slider__pagination.swiper-pagination .swiper-pagination-bullet {
  background-color: #28292e;
  width: 15px;
  height: 15px;
  opacity: 1;
}
.schedule-slider__pagination.swiper-pagination .swiper-pagination-bullet:nth-child(n+2) {
  margin-left: 18px;
}
.schedule-slider__pagination.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f3a916;
}

/* ----- SCHEDULE END ----- */
/* ----- STAGES SECTION START ----- */
.stages-section {
  padding-top: 120px;
  padding-bottom: 106px;
  background-color: #f3a916;
  color: #000;
}
.stages-section__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stages-section__offer {
  max-width: 608px;
  padding-top: 28px;
}
.stages-section__offer-title {
  font-size: 32px;
  margin-bottom: 20px;
}
.stages-section__offer-text {
  font-weight: 500;
  line-height: 1.66;
}
.stages-section__offer-link {
  padding: 0;
}
.stages-section__offer-link:hover, .stages-section__offer-link:focus-within {
  color: #fff;
  text-decoration: underline;
}

.stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.56;
  margin-bottom: 68px;
}
.stages-list__item {
  position: relative;
}
.stages-list__item:first-of-type .stages-list__item-title {
  font-weight: 700;
}
.stages-list__item:nth-child(n+2) {
  margin-left: 58px;
}
.stages-list__item:nth-child(n+2)::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  top: 79px;
  left: -65px;
}
.stages-list__item-img {
  margin-bottom: 30px;
}
.stages-list__item-title {
  margin-bottom: 2px;
}
.stages__check-subscribe {
  padding: 18px 60px;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.56;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.stages__check-subscribe:hover {
  background-color: #28292e;
  color: #fff;
}
.stages__check-subscribe .icon-check {
  margin-right: 10px;
  font-size: 24px;
  color: #f3a916;
}

/* ----- STAGES SECTION END ----- */
/* ----- FOOTER START ----- */
.footer {
  padding-top: 510px;
  padding-bottom: 90px;
  background-image: url(../img/footer-img.webp);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__content {
  text-align: center;
}
.footer__info {
  text-align: center;
}
.footer__info-registered {
  font-size: 32px;
  line-height: 1.4;
}
.footer__info-timer {
  font-size: 25px;
  line-height: 1.8;
}
.footer .registered-table {
  font-size: 20px;
  line-height: 1.75;
}
.footer .registered-table__header-item {
  border: 1px solid #f3a916;
  background-color: #f3a916;
  font-weight: 400;
  line-height: 1.75;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;
}
.footer .registered-table__header-item:nth-child(n+2) {
  font-weight: 500;
  text-align: left;
  padding-left: 10px;
}
.footer .registered-table__row:hover .registered-table__cell, .footer .registered-table__row:focus-within .registered-table__cell {
  background-color: #fff;
  color: #000;
}
.footer .registered-table__row:hover .registered-table__cell-link, .footer .registered-table__row:focus-within .registered-table__cell-link {
  color: #000;
}
.footer .registered-table__cell {
  border: 1px solid #f3a916;
  padding: 10px 19px;
  background-color: #28292e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .registered-table__cell-img {
  margin-right: 10px;
}
.footer .registered-table__cell-link {
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 382px;
}
.footer .registered-table__cell.registered-table__cell--number {
  text-align: center;
  font-weight: 400;
}
.footer .registered-table__cell.registered-table__cell--name {
  padding: 0;
}
.footer__nav {
  margin-top: 46px;
}
.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__nav-item:nth-child(n+2) {
  margin-left: 106px;
}
.footer__nav-link {
  text-transform: uppercase;
}

/* ----- FOOTER END ----- */
/* ----- ADAPTIVE START ----- */
@media (max-width: 1399.98px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 990px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 570px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}
/* ----- ADAPTIVE END ----- */