@import "variables.scss";
@import "mixins.scss";
/* ----- ADAPTIVE START ----- */
// `xxxl` applies to x-large devices (large desktops, less than 1500px)
@media (max-width: 1499.98px) {
  .container {
    max-width: 1300px;
  }
  .container-wide {
    max-width: 1700px;
  }
  .hero-slider__slide-img {
    object-position: -217px 0px;
  }
  .schedule-slider {
    &__card {
      padding: 30px 25px;
      &-time {
        font-size: 17px;
      }
      &-name {
        font-size: 17px;
      }
    }
    .battles {
      .schedule-slider__card {
        padding: 43px 25px;
      }
    }
  }
}
// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .container {
    max-width: 1170px;
  }
  .container-wide {
    max-width: 1400px;
  }
  .header__wrap {
    max-width: 600px;
  }
  .hero-slider__slide-img {
    object-position: -413px 0px;
  }
  .schedule-slider {
    &__card {
      &-img {
        width: 40px;
        height: 40px;
      }
      &-name {
        font-size: 15px;
      }
      &-number {
        font-size: 15px;
      }
      &.battle {
        .schedule-slider__card-img {
          object-fit: contain;
        }
      }
    }
  }
  .footer {
    &__info {
      &-registered {
        font-size: 26px;
      }
      &-timer {
        font-size: 20px;
      }
    }
    &__nav {
      &-link {
        font-size: 16px;
      }
    }
  }
  .registered-table {
    font-size: 16px;
    &__cell-link {
      padding-right: 260px;
    }
  }
}
// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .container {
    max-width: 990px;
  }
  .container-wide {
    max-width: 1200px;
  }
  .header__wrap {
    max-width: 530px;
    &::after {
      bottom: -10px;
    }
    .icon-twitter {
      font-size: 15px;
    }
    .icon-twitch {
      font-size: 16px;
    }
    .icon-facebook {
      font-size: 18px;
    }
    .icon-vk {
      font-size: 13px;
    }
  }
  .hero {
    padding-bottom: 332px;
    &-slider__slide-img {
      object-position: -614px 0px;
    }
    &__offer {
      max-width: 570px;
      margin-top: -775px;
      &-title {
        font-size: 50px;
      }
      &-cta {
        margin-top: 130px;
      }
    }
  }
  .schedule-slider {
    .battles .schedule-slider__card {
      padding: 39px 25px;
    }
  }
  .stages-section {
    &__offer {
      max-width: 392px;
      &-text {
        font-size: 16px;
      }
    }
  }
  .registered-table__cell-link {
    padding-right: 205px;
  }
}
// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
  .container-wide {
    max-width: 1000px;
  }
  .section-title {
    font-size: 28px;
  }
  .header__wrap {
    max-width: 100%;
  }
  .hero {
    padding-bottom: 205px;
    &-slider {
      &__slide {
        .hero-slider__slide-img {
          width: 1544px;
          height: 800px;
        }
        &:nth-child(3) {
          .hero-slider__slide-img {
            object-position: -230px 0px;
          }
        }
      }
    }
    &__offer {
      max-width: 450px;
      margin-top: -580px;
      &-title {
        font-size: 38px;
      }
      &-text {
        font-size: 15px;
      }
      &-cta {
        margin-top: 90px;
      }
      &-btn {
        font-size: 14px;
        width: 205px;
      }
    }
  }
  .schedule {
    &__tabs {
      &-btn {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 125px;
      }
    }
    &-slider__card {
      &:hover,
      &:focus-within {
        .schedule-slider__card-btn {
          visibility: visible;
        }
      }
      &-btn {
        visibility: hidden;
      }
      &.battle {
        padding: 39px 35px;
      }
    }
  }
  .stages-section {
    padding-top: 100px;
    padding-bottom: 100px;
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__offer {
      max-width: 70%;
      text-align: center;
      padding-top: 0;
      margin-bottom: 50px;
    }
  }
  .footer {
    padding-top: 190px;
    background-position: 25% 50%;
    &__content {
      margin: 0 auto;
    }
  }
}
// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .container {
    max-width: 570px;
  }
  .container-wide {
    max-width: 800px;
  }
  .hero {
    padding-bottom: 145px;
    &-slider {
      &__slide {
        .hero-slider__slide-img {
          width: 1400px;
          height: 700px;
        }
      }
    }
    &__offer {
      margin-top: -520px;
    }
  }
  .schedule {
    padding-top: 100px;
    padding-bottom: 100px;
    &-slider {
      &__card {
        padding: 25px 20px;
        &.battle {
          padding: 38px 25px;
        }
      }
    }
  }
  .footer {
    padding-top: 150px;
  }
}
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .container-wide {
    max-width: 800px;
  }
  .hero {
    padding-bottom: 92px;
    &__offer {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      &-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        &-item {
          &:nth-child(n + 2) {
            margin-left: 0;
            margin-top: 35px;
          }
        }
      }
    }
  }
  .schedule {
    &__tabs {
      margin-bottom: 50px;
    }
    &-slider {
      &.swiper {
        padding-bottom: 10px;
      }
      &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__card {
        max-width: 353px;
        width: 100%;
        padding: 20px 23px;
        &:nth-last-child(n + 2) {
          margin-bottom: 20px;
        }
        &-header {
          padding-bottom: 6px;
          margin-bottom: 19px;
        }
        &-badges {
          margin-bottom: 12px;
        }
        &-img {
          width: 25px;
          height: 25px;
        }
        &-name {
          font-size: 16px;
          line-height: 2.2;
          &:nth-last-child(n + 2) {
            margin-bottom: 0;
          }
        }
        &.battle {
          padding: 24px 25px;
        }
      }
      &__btn {
        &.schedule-slider__btn--next,
        &.schedule-slider__btn--prev {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 464.98px) {
  .hero {
    &-slider {
      &__slide-img {
        width: 1350px;
      }
    }
    &__offer {
      &-img {
        margin-bottom: 20px;
      }
      &-title {
        margin-bottom: 20px;
      }
      &-cta {
        margin-top: 35px;
      }
    }
  }
  .schedule {
    &-slider {
      &.swiper {
        padding: 0;
      }
    }
  }
  .stages {
    &-list {
      flex-direction: column;
      align-items: center;
      &__item {
        &:nth-child(n + 2) {
          margin-left: 0;
          margin-top: 60px;
          &::after {
            top: -30px;
            left: calc(50% - 35px);
          }
        }
      }
    }
    &__check-subscribe {
      padding: 18px 30px;
    }
  }
  .registered-table {
    margin: 0 auto;
    &__cell-link {
      padding-right: 83px;
    }
  }
  .footer {
    padding-top: 100px;
    &__nav {
      &-list {
        justify-content: space-between;
      }
      &-item {
        &:nth-child(n + 2) {
          margin-left: 0;
        }
      }
    }
  }
}
@media (max-width: 424.98px) {
  .hero {
    &-slider {
      &__slide-img {
        object-position: -700px 0;
      }
    }
    &__offer {
      margin-top: -560px;
    }
  }
  .schedule-slider {
    &.swiper {
      margin: 0 auto;
    }
  }
  .stages-section {
    &__offer {
      max-width: 100%;
    }
  }
}
@media (max-width: 374.98px) {
  .header {
    &__socials {
      &-item {
        &:nth-child(n + 2) {
          margin-left: 15px;
        }
      }
    }
  }
  .footer {
    padding-top: 70px;
    padding-bottom: 70px;
    &__info {
      &-registered {
        font-size: 22px;
      }
      &-timer {
        font-size: 16px;
      }
    }
  }
  .registered-table__cell-link {
    padding-right: 50px;
  }
}
/* ----- ADAPTIVE END ----- */
