@import "fonts.scss";
@import "reset.scss";
@import "common.scss";
@import "variables.scss";
@import "mixins.scss";
/* ----- HEADER START ----- */
.header {
  padding-top: 13px;
  padding-bottom: 20px;
  background-color: transparent;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 740px;
    position: relative;
    left: 0;
    z-index: 10;
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $brand_color;
      position: absolute;
      left: 0;
      bottom: -20px;
    }
  }
  &__socials {
    margin-right: -10px;
  }
}
/* ----- HEADER END ----- */
/* ----- HERO START ----- */
.hero {
  padding-bottom: 200px;
  margin-top: -117px;
  &-slider {
    padding: 0;
  }
  .hero-slider__pagination {
    &.swiper-pagination {
      bottom: 32px;
      .swiper-pagination-bullet {
        background-color: #fff;
        width: 15px;
        height: 15px;
        opacity: 1;
        &:nth-child(n + 2) {
          margin-left: 18px;
        }
      }
      .swiper-pagination-bullet-active {
        background-color: $brand_color;
      }
    }
  }
  &__offer {
    margin-top: -720px;
    position: relative;
    z-index: 20;
  }
}
/* ----- HERO END ----- */
/* ----- SCHEDULE START ----- */
.schedule {
  padding-top: 140px;
  padding-bottom: 147px;
  &__tabs {
    margin-bottom: 70px;
  }
  &-slider {
    &.swiper {
      padding: 10px 10px 150px 10px;
      margin-left: -10px;
    }
    &__card {
      background-color: $bg_color2;
      border-radius: 10px;
      max-width: 350px;
      padding: 30px 35px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        transition: $tr_time;
      }
      &:hover,
      &:focus-within {
        box-shadow: 0 3px 10px $brand_color;
        &.schedule-slider__card::after {
          background-color: $card_hover_bg;
        }
        .schedule-slider__card-btn {
          opacity: 1;
          z-index: 15;
          transition: $tr_time;
        }
      }
      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 38px;
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          background-color: $brand_color;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
      &-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
      }
      &-date {
        max-width: 57px;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
      }
      &-time {
        font-weight: 700;
        font-size: 20px;
      }
      &-badges {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }
      &-badge {
        &:nth-child(n + 2) {
          margin-left: 20px;
        }
      }
      &-names {
        margin-bottom: 15px;
      }
      &-name {
        font-size: 20px;
        line-height: 1.75;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:nth-last-child(n + 2) {
          margin-bottom: 15px;
        }
      }
      &-multiplier {
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid $brand_color;
        width: 58px;
        height: 30px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-btn {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        opacity: 0;
        position: absolute;
        padding: 11px 20px;
        background-color: $brand_color;
        top: calc(50% - 18px);
        left: calc(50% - 75px);
        transition: 0s;
        &:hover,
        &:focus-within {
          color: #fff;
        }
        .icon-play {
          margin-right: 10px;
        }
      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      &-text {
        color: $text_color_gray;
        font-weight: 400;
        font-size: 12px;
      }
    }
    .battles {
      .schedule-slider__card {
        padding: 47px 35px;
        &-badges {
          margin-bottom: 29px;
        }
        &-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
        }
        &-names {
          margin-bottom: 0;
        }
        &-name {
          line-height: 1.75;
          &:nth-last-child(n + 2) {
            margin-bottom: 0;
          }
        }
        &-number {
          padding: 5px 10px;
          border: 1px solid $brand_color;
          line-height: 1.42;
          text-transform: uppercase;
        }
        .schedule-slider__footer {
          &-text {
            line-height: 1.66;
          }
        }
      }
    }
    &__btn {
      border: 2px solid $brand_color;
      border-radius: 50%;
      font-size: 15px;
      position: relative;
      &:hover {
        background-color: $brand_color;
      }
      .icon-arrow {
        color: #fff;
      }
      &.schedule-slider__btn--next {
        transform: rotateZ(180deg);
        padding: 41px;
        top: initial;
        right: calc(50% - 180px);
        bottom: 10px;
        &::after {
          content: "";
        }
      }
      &.schedule-slider__btn--prev {
        padding: 41px;
        top: initial;
        left: calc(50% - 180px);
        bottom: 10px;
        &::after {
          content: "";
        }
      }
    }
    &__pagination {
      &.swiper-pagination {
        &.swiper-pagination-bullets {
          bottom: 42px;
          z-index: 0;
        }
        .swiper-pagination-bullet {
          background-color: $bg_color2;
          width: 15px;
          height: 15px;
          opacity: 1;
          &:nth-child(n + 2) {
            margin-left: 18px;
          }
        }
        .swiper-pagination-bullet-active {
          background-color: $brand_color;
        }
      }
    }
  }
}
/* ----- SCHEDULE END ----- */
/* ----- STAGES SECTION START ----- */
.stages-section {
  padding-top: 120px;
  padding-bottom: 106px;
  background-color: $brand_color;
  color: #000;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__offer {
    max-width: 608px;
    padding-top: 28px;
    &-title {
      font-size: 32px;
      margin-bottom: 20px;
    }
    &-text {
      font-weight: 500;
      line-height: 1.66;
    }
    &-link {
      padding: 0;
      &:hover,
      &:focus-within {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}
.stages {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-list {
    display: flex;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.56;
    margin-bottom: 68px;
    &__item {
      position: relative;
      &:first-of-type {
        .stages-list__item-title {
          font-weight: 700;
        }
      }
      &:nth-child(n + 2) {
        margin-left: 58px;
        &::after {
          content: "";
          width: 70px;
          height: 4px;
          background-color: #fff;
          position: absolute;
          top: 79px;
          left: -65px;
        }
      }
      &-img {
        margin-bottom: 30px;
      }
      &-title {
        margin-bottom: 2px;
      }
    }
  }
  &__check-subscribe {
    padding: 18px 60px;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.56;
    transition: $tr_time;
    &:hover {
      background-color: $bg_color2;
      color: #fff;
    }
    .icon-check {
      margin-right: 10px;
      font-size: 24px;
      color: $brand_color;
    }
  }
}
/* ----- STAGES SECTION END ----- */
/* ----- FOOTER START ----- */
.footer {
  padding-top: 510px;
  padding-bottom: 90px;
  background-image: url(../img/footer-img.webp);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__content {
    text-align: center;
  }
  &__info {
    text-align: center;
    &-registered {
      font-size: 32px;
      line-height: 1.4;
    }
    &-timer {
      font-size: 25px;
      line-height: 1.8;
    }
  }
  .registered-table {
    font-size: 20px;
    line-height: 1.75;
    &__header-item {
      border: 1px solid $brand_color;
      background-color: $brand_color;
      font-weight: 400;
      line-height: 1.75;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #000;
      &:nth-child(n + 2) {
        font-weight: 500;
        text-align: left;
        padding-left: 10px;
      }
    }
    &__row {
      &:hover,
      &:focus-within {
        .registered-table__cell {
          background-color: #fff;
          color: #000;
          &-link {
            color: #000;
          }
        }
      }
    }
    &__cell {
      border: 1px solid $brand_color;
      padding: 10px 19px;
      background-color: $bg_color2;
      transition: $tr_time;
      &-img {
        margin-right: 10px;
      }
      &-link {
        font-weight: 500;
        align-items: center;
        padding-left: 20px;
        padding-right: 382px;
      }
      &.registered-table__cell--number {
        text-align: center;
        font-weight: 400;
      }
      &.registered-table__cell--name {
        padding: 0;
      }
    }
  }
  &__nav {
    margin-top: 46px;
    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-item {
      &:nth-child(n + 2) {
        margin-left: 106px;
      }
    }
    &-link {
      text-transform: uppercase;
    }
  }
}
/* ----- FOOTER END ----- */

@import "adaptive.scss";
