//VARIABLES
$bg_color: hsl(252, 71%, 1%);
$bg_color2: hsl(230, 7%, 17%);
$brand_color: hsl(40, 90%, 52%);
$text_color: hsl(0, 0%, 100%);
$text_color_gray: hsl(212, 6%, 49%);
$text_color_dark: hsl(0, 0%, 0%);
$tr_time: 0.3s;
